@import "tailwindcss";

@theme {
  --color-slateDeep: #36565F;
  --color-oceanSteel: #5F8190;
  --color-cloudMist: #E2F0F0;
  --color-jetBlack: #141414;
  --color-pureWhite: #FFFFFF;
}

:root, body, html {
  width: 100%;
  background-color: var(--color-cloudMist);
  color: var(--color-jetBlack);
}